

@{
    
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row" data-aos="fade-up">

            @*@Html.Partial("Description")*@
            @Html.Partial("MainDescription")
            @Html.Partial("BotDescription")
            @Html.Partial("TopDescription")


        </div>
    </div>
</div>

