@*<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img src="assets/images/logo.svg" class="footer-logo" alt="" />
                <h5 class="font-weight-normal mt-4 mb-5">
                    Hakkımda örneği.
                </h5>
             
            </div>            
            <div class="col-sm-4">
                <h3 class="font-weight-bold mb-3">KAtegori</h3>
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a href="/New/NewsGetByCategoryID/@item.CategoryID" class="nav-link">@item.CategoryName</a>
                    </li>
                }
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <div class="fs-14 font-weight-600">
                        © 2020 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white"> BootstrapDash</a>. All rights reserved.
                    </div>
                    <div class="fs-14 font-weight-600">
                        Handcrafted by <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white">BootstrapDash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@